<nz-tabset >
  <nz-tab>
    <ng-template #nzTabHeading>
      新增任务
    </ng-template>

    <form class="form-horizontal" nz-form [formGroup]="validateForm">
      <div class="form-group" nz-form-item>
        <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-6" nz-form-control [nzValidateStatus]="validateForm.controls.title">
          <nz-input [nzSize]="'large'" [nzDisabled]='editDisabled' [(ngModel)]="title" formControlName="title"  [nzPlaceHolder]="'请输入标题'"></nz-input>
          <!-- <div nz-form-explain *ngIf="validateForm.controls.title.dirty&&validateForm.controls.title.hasError('required')">Please input your username!</div> -->
        </div>
      </div>

      <div class="form-group" nz-form-item>
        <label class="col-sm-2 control-label">产品</label>
        <div class="col-sm-4" nz-form-control [nzValidateStatus]="validateForm.controls.productId">
            <nz-select [nzDisabled]='editDisabled' formControlName="productId" [(ngModel)]="productId" nzAllowClear [nzSize]="'large'">
              <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>    
              <nz-option 
                *ngFor="let item of productList" 
                [nzLabel]="item.name"
                [nzValue]="item.id"
                ></nz-option>
            </nz-select>
        </div>
        <button *ngIf="isEdit"  nz-button (click)="isProduct=true"  [nzType]="'primary'" [nzGhost]="true">
          <span>修改</span>
        </button>
      </div>

      <div class="form-group" nz-form-item>
          <label class="col-sm-2 control-label">项目</label>
          <div class="col-sm-4" nz-form-control [nzValidateStatus]="validateForm.controls.projectId">
              <nz-select [nzDisabled]='editDisabled' formControlName="projectId" [(ngModel)]="projectId" nzAllowClear [nzSize]="'large'">
                <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                <nz-option 
                *ngFor="let item of projectList" 
                [nzLabel]="item.name"
                [nzValue]="item.id"
                ></nz-option>
              </nz-select>
          </div>
          <button *ngIf="isEdit"   nz-button (click)="isProject=true"  [nzType]="'primary'" [nzGhost]="true">
            <span>修改</span>
          </button>
        </div>

      
        <div class="form-group" nz-form-item>
        <label class="col-sm-2 control-label">版本</label>
        <div class="col-sm-4" nz-form-control [nzValidateStatus]="validateForm.controls.versionId">
            <nz-select [nzDisabled]='editDisabled' formControlName="versionId" [(ngModel)]="versionId" nzAllowClear [nzSize]="'large'">
              <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
              <nz-option 
              *ngFor="let item of versionList" 
              [nzLabel]="item.name"
              [nzValue]="item.id"
              ></nz-option>
            </nz-select>
        </div>
        <button *ngIf="isEdit"  nz-button  (click)="isVersion=true"  [nzType]="'primary'" [nzGhost]="true">
          <span>修改</span>
        </button>
      </div>
      <div class="form-group">
        <label class="col-sm-2"></label>
        <div style="color:red;">（待建任务单类型如是BUG则只需选择提测时间和测试完成时间！）</div>
      </div>
      <div class="form-group" nz-form-item>
        <label class="col-sm-2 control-label">联调时间</label>
        <div class="col-sm-2" nz-form-control [nzValidateStatus]="validateForm.controls.devFinish">
           <nz-datepicker  [nzShowTime]="true" [nzPlaceHolder]="'联调时间'" [nzDisabled]='isBug'  formControlName="devFinish" [(ngModel)]="devFinish"  [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        </div>

        <label class="col-sm-1 control-label">提测时间</label>
        <div class="col-sm-2" nz-form-control [nzValidateStatus]="validateForm.controls.testStart">
          <nz-datepicker  [nzShowTime]="true" [nzPlaceHolder]="'提测时间'" formControlName="testStart" [(ngModel)]="testStart" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        </div>
      </div>

      <div class="form-group" nz-form-item>
        <label class="col-sm-2 control-label">测试完成时间</label>
        <div class="col-sm-2" nz-form-control [nzValidateStatus]="validateForm.controls.testFinish">
          <nz-datepicker  [nzShowTime]="true" [nzPlaceHolder]="'测试完成时间'" formControlName="testFinish" [(ngModel)]="testFinish" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        </div>

        <label class="col-sm-1 control-label">验收完成时间</label>
        <div class="col-sm-2" nz-form-control [nzValidateStatus]="validateForm.controls.acceptFinish">
          <nz-datepicker  [nzShowTime]="true" [nzPlaceHolder]="'验收完成时间'" [nzDisabled]='isBug'  formControlName="acceptFinish" [(ngModel)]="acceptFinish" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        </div>
      </div>

      <div class="form-group" nz-form-item>
        <label class="col-sm-2 control-label">详细描述</label>
        <div class="col-sm-6" nz-form-control [nzValidateStatus]="validateForm.controls.description">
            <nz-input [nzDisabled]='editDisabled' [(ngModel)]="description" formControlName="description" [nzType]="'textarea'" [nzRows]="'5'" [nzPlaceHolder]="''"></nz-input>
        </div>
      </div>

      <div class="form-group" nz-form-item>
          <label class="col-sm-2 control-label">任务类型</label>
          <div class="col-sm-6" nz-form-control [nzValidateStatus]="validateForm.controls.taskState">
              <nz-radio-group  [(ngModel)]="type" formControlName="taskState" (click)="changeTask()">
                  <label nz-radio [nzValue]="200" [nzDisabled]='editDisabled'>
                    <span>需求</span>
                  </label>
                  <label nz-radio [nzValue]="201" [nzDisabled]='editDisabled'>
                    <span>BUG</span>
                  </label>
                </nz-radio-group>
          </div>
      </div>


      <div class="form-group" *ngIf="isTaskState">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-2">
            <nz-select style="width: 175px;"
              [nzDisabled]='editDisabled'
              [nzPlaceHolder]="'开发'" 
              [nzMode]="'multiple'" 
              formControlName='developUsers' 
              [(ngModel)]="developUsers" 
              [nzSize]="size"
              (nzOpenChange)="developChange($event,developUsers)" 
            >
                <nz-option
                  *ngFor="let option of developUserList"
                  [nzLabel]="option.userName"
                  [nzValue]="option"
                  >
                </nz-option>
              </nz-select>
          </div>

          <div class="col-sm-2">
            <nz-select style="width: 175px;" 
              [nzDisabled]='editDisabled'
              [nzPlaceHolder]="'联调'" 
              [nzMode]="'multiple'" 
              formControlName='debuggers' 
              [(ngModel)]="debuggers" 
              [nzSize]="size">
                <nz-option
                  *ngFor="let option of debuggerOption"
                  [nzLabel]="option.userName"
                  [nzValue]="option"
                  >
                </nz-option>
              </nz-select>
          </div>

          <div class="col-sm-2">
            <nz-select style="width: 175px;"
            [nzDisabled]='editDisabled' 
            [nzPlaceHolder]="'测试'" 
            [nzMode]="'multiple'" 
            formControlName='testUsers' 
            [(ngModel)]="testUsers" 
            [nzSize]="size">
                <nz-option
                  *ngFor="let option of testUserList"
                  [nzLabel]="option.userName"
                  [nzValue]="option"
                  >
                </nz-option>
              </nz-select>
          </div>

          <div class="col-sm-2">
            <nz-select style="width: 175px;" 
            [nzDisabled]='editDisabled'
            [nzPlaceHolder]="'产品'" 
            [nzMode]="'multiple'" 
            formControlName='productUsers' 
            [(ngModel)]="productUsers" 
            [nzSize]="size">
                <nz-option
                  *ngFor="let option of productUserList"
                  [nzLabel]="option.userName"
                  [nzValue]="option"
                  >
                </nz-option>
              </nz-select>
          </div>
      </div>

      <div class="form-group" *ngIf="!isTaskState">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-2">
          <nz-select style="width: 175px;"
            [nzDisabled]='editDisabled' 
            [nzPlaceHolder]="'开发'" 
            [nzMode]="'multiple'" 
            formControlName='developUsers' 
            [(ngModel)]="developUsers" 
            [nzSize]="size"
            (nzOpenChange)="developChange($event,developUsers)" 
          >
              <nz-option
                *ngFor="let option of developUserList"
                [nzLabel]="option.userName"
                [nzValue]="option"
                >
              </nz-option>
            </nz-select>
        </div>

        <div class="col-sm-2">
          <nz-select style="width: 175px;"
          [nzDisabled]='editDisabled' 
          [nzPlaceHolder]="'测试'" 
          [nzMode]="'multiple'" 
          formControlName='testUsers' 
          [(ngModel)]="testUsers" 
          [nzSize]="size">
              <nz-option
                *ngFor="let option of testUserList"
                [nzLabel]="option.userName"
                [nzValue]="option"
                >
              </nz-option>
            </nz-select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-2" *ngIf="developUsers.length > 0">
           <div *ngFor="let item of developUsers">
             <div class="form-group">
                <div class="col-sm-12">
                      <label class="col-sm-5 control-label">{{item.userName}}</label>
                      <div class="col-sm-6">
                          <select  class="form-control days input-sm" [disabled]='editDisabled'>
                              <option *ngFor='let item of workLoadList' value="{{item.value}}">{{item.text}}</option>
                          </select>
                      </div>
                </div>
             </div>
           </div>
        </div>

        <div class="col-sm-2" *ngIf="debuggers.length > 0">
           <div *ngFor="let item of debuggers">
             <div class="form-group">
                <div class="col-sm-12">
                      <label class="col-sm-5 control-label">{{item.userName}}</label>
                      <div class="col-sm-6">
                          <select  class="form-control debugger input-sm" [disabled]='editDisabled'>
                              <option *ngFor='let item of workLoadList' value="{{item.value}}">{{item.text}}</option>
                          </select>
                      </div>
                </div>
             </div>
           </div>
        </div>

        <div class="col-sm-2" *ngIf="testUsers.length > 0">
            <div *ngFor="let item of testUsers">
              <div class="form-group">
                 <div class="col-sm-12">
                       <label class="col-sm-5 control-label">{{item.userName}}</label>
                       <div class="col-sm-6">
                           <select  class="form-control test input-sm" [disabled]='editDisabled'>
                               <option *ngFor='let item of workLoadList' value="{{item.value}}">{{item.text}}</option>
                           </select>
                       </div>
                 </div>
              </div>
            </div>
        </div>

        <div class="col-sm-2" *ngIf="productUsers.length > 0">
            <div *ngFor="let item of productUsers">
              <div class="form-group">
                 <div class="col-sm-12">
                       <label class="col-sm-5 control-label">{{item.userName}}</label>
                       <div class="col-sm-6">
                           <select  class="form-control produc input-sm" [disabled]='editDisabled'>
                               <option *ngFor='let item of workLoadList' value="{{item.value}}">{{item.text}}</option>
                           </select>
                       </div>
                 </div>
              </div>
            </div>
        </div>


      </div>
      
      <div class="form-group" nz-form-item>
          <label class="col-sm-2 control-label">工作量</label>
          <div class="col-sm-4" nz-form-control [nzValidateStatus]="validateForm.controls.workLoad">
              <nz-select [nzDisabled]="editDisabled" [(ngModel)]="workLoad" formControlName="workLoad" style="width: 100%;"  nzAllowClear [nzSize]="'large'">
                <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                <nz-option 
                    *ngFor='let item of workLoadList'
                    [nzLabel]="item.text"
                    [nzValue]="item.value"
                  >{{item.text}}</nz-option>
              </nz-select>
          </div>
      </div>

      <div class="form-group" nz-form-item>
          <label class="col-sm-2 control-label">附件</label>
          <div class="col-sm-4">
              <input [disabled]="editDisabled" type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
          </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button  nz-button   [nzType]="'primary'" (click)="save()" [nzLoading]="isLoading">
            <i class="anticon anticon-save"></i>
            <span>确定</span>
          </button>

          <button nz-button [nzType]="'default'" routerLink='/task/workOrder'>
            <i class="anticon anticon-rollback"></i>
            <span>返回</span>
          </button>
        </div>
      </div>

    </form>

  </nz-tab>
</nz-tabset>

<!-- 修改产品模态框 -->
<nz-modal [nzVisible]="isProduct" [nzTitle]="'产品'" [nzContent]="modalProduct"  [nzFooter]="ProductFooter" (nzOnCancel)="isProduct=false" (nzOnOk)="isProduct=false">
  <ng-template #modalProduct>
      <div class="form-group" nz-form-item>
          <label for="inputEmail3" class="col-sm-2 control-label">产品名称</label>
          <div class="col-sm-4" nz-form-control>
            <nz-input [nzSize]="'large'" [(ngModel)]="productName" [nzPlaceHolder]="'请输入产品名称'"></nz-input>
          </div>
          <button  nz-button   [nzType]="'primary'" (click)="addProduc(productName)">
              <span>添加</span>
          </button>
      </div>
      <br/>
      <nz-table #nzTable [nzDataSource]="productList" [nzPageSize]="10">
          <thead nz-thead>
            <tr>
              <th nz-th><span>名称</span></th>
              <th nz-th><span>操作</span></th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td>
                <span *ngIf="editRow!==data.id">{{data.name}}</span>
                <span *ngIf="editRow===data.id">
                  <nz-input [(ngModel)]="productObject[data.id].name"></nz-input>
                </span>
              </td>
              <td nz-td>
                <span *ngIf="editRow!==data.id">
                  <a (click)="editProduc(data)">编辑</a>
                </span>
                <span *ngIf="editRow!==data.id">
                  <a (click)="delProduc(data)">删除</a>
                </span>
                <span *ngIf="editRow===data.id">
                  <a (click)="saveProduct(data)">保存</a>
                  <span nz-table-divider></span>
                    <nz-popconfirm [nzTitle]="'确定取消么?'" (nzOnConfirm)="cancel(data)">
                      <a nz-popconfirm>取消</a>
                    </nz-popconfirm>
                </span>
              </td>
            </tr>
          </tbody>
      </nz-table>
  </ng-template>
  <ng-template #ProductFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="isProduct=false">
      取消
    </button>
  </ng-template>
</nz-modal>

<!-- 修改项目模态框 -->
<nz-modal [nzVisible]="isProject" [nzTitle]="'项目'"  [nzFooter]="ProjectFooter" [nzContent]="modalProject" (nzOnCancel)="isProject=false" (nzOnOk)="isProject=false">
  <ng-template #modalProject>
      <div class="form-group" nz-form-item>
          <label for="inputEmail3" class="col-sm-2 control-label">项目名称</label>
          <div class="col-sm-4" nz-form-control>
            <nz-input [nzSize]="'large'" [(ngModel)]="projectName" [nzPlaceHolder]="'请输入项目名称'"></nz-input>
          </div>
          <button  nz-button   [nzType]="'primary'" (click)="addProjectName(projectName)">
              <span>添加</span>
          </button>
      </div>
      <br/>
      <nz-table #nzTable [nzDataSource]="projectList" [nzPageSize]="10">
          <thead nz-thead>
            <tr>
              <th nz-th><span>名称</span></th>
              <th nz-th><span>操作</span></th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td>
                <span *ngIf="projectRow!==data.id">{{data.name}}</span>
                <span *ngIf="projectRow===data.id">
                  <nz-input [(ngModel)]="projectObject[data.id].name"></nz-input>
                </span>
              </td>
              <td nz-td>
                <span *ngIf="projectRow!==data.id">
                  <a (click)="editProject(data)">编辑</a>
                </span>
                <span *ngIf="projectRow!==data.id">
                  <a (click)="delProject(data)">删除</a>
                </span>
                <span *ngIf="projectRow===data.id">
                  <a (click)="saveProject(data)">保存</a>
                  <span nz-table-divider></span>
                    <nz-popconfirm [nzTitle]="'确定取消么?'" (nzOnConfirm)="cancelProject(data)">
                      <a nz-popconfirm>取消</a>
                    </nz-popconfirm>
                </span>
              </td>
            </tr>
          </tbody>
      </nz-table>
  </ng-template>
  <ng-template #ProjectFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="isProject=false">
      取消
    </button>
  </ng-template>
</nz-modal>

<!-- 修改版本模态框 -->
<nz-modal [nzVisible]="isVersion" [nzTitle]="'版本'" [nzFooter]="VersionFooter" [nzContent]="modalVersion" (nzOnCancel)="isVersion=false" (nzOnOk)="isVersion=false">
  <ng-template #modalVersion>
      <div class="form-group" nz-form-item>
          <label for="inputEmail3" class="col-sm-2 control-label">版本</label>
          <div class="col-sm-4" nz-form-control>
            <nz-input [nzSize]="'large'" [(ngModel)]="versionName" [nzPlaceHolder]="'请输入版本名称'"></nz-input>
          </div>
          <button  nz-button   [nzType]="'primary'" (click)="addVersionName(versionName)">
              <span>添加</span>
          </button>
      </div>
      <br/>
      <nz-table #nzTable [nzDataSource]="versionList" [nzPageSize]="10">
          <thead nz-thead>
            <tr>
              <th nz-th><span>名称</span></th>
              <th nz-th><span>操作</span></th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td>
                <span *ngIf="versionRow!==data.id">{{data.name}}</span>
                <span *ngIf="versionRow===data.id">
                  <nz-input [(ngModel)]="versionObject[data.id].name"></nz-input>
                </span>
              </td>
              <td nz-td>
                <span *ngIf="versionRow!==data.id">
                  <a (click)="editVersion(data)">编辑</a>
                </span>
                <span *ngIf="versionRow!==data.id">
                  <a (click)="delVersion(data)">删除</a>
                </span>
                <span *ngIf="versionRow===data.id">
                  <a (click)="saveVersion(data)">保存</a>
                  <span nz-table-divider></span>
                    <nz-popconfirm [nzTitle]="'确定取消么?'" (nzOnConfirm)="cancelVersion(data)">
                      <a nz-popconfirm>取消</a>
                    </nz-popconfirm>
                </span>
              </td>
            </tr>
          </tbody>
      </nz-table>
  </ng-template>
  <ng-template #VersionFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="isVersion=false">
      取消
    </button>
  </ng-template>
</nz-modal>