<nz-tabset>
  <nz-tab>
    <ng-template #nzTabHeading>
      新增任务流程
    </ng-template>

    <form class="form-horizontal" nz-form [formGroup]="validateForm" >
        
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="3" [nzXs]="24">
                <label for="标题">标题</label>
            </div>
            <div nz-form-control  nz-col [nzSm]="12" [nzXs]="24" [nzValidateStatus]="validateForm.controls.title">
                <nz-input formControlName="title" [(ngModel)]="title"  [nzPlaceHolder]="'请填写标题'" [nzSize]="'large'">
                </nz-input>
            </div>
        </div>

        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="3" [nzXs]="24">
                    <label for="详细描述">详细描述</label>
            </div>
            <div nz-form-control  nz-col [nzSm]="12" [nzXs]="24" [nzValidateStatus]="validateForm.controls.description">
                <nz-input [(ngModel)]="description" formControlName="description" [nzType]="'textarea'" [nzRows]="'18'" [nzPlaceHolder]="''"></nz-input>
                <!-- <div [froalaEditor]='textOptions'  [(froalaModel)]="description" ></div> -->
            </div>
        </div>

        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzOffset]='3'></div>
            <nz-button-group>
                <button nz-button [nzType]="'primary'" (click)="changePass(2)">
                    <span>移交</span>
                </button>
                <button nz-button [nzType]="'primary'" (click)="changePass(3)">
                    <span>处理</span>
                </button>
            </nz-button-group>

        </div>

        <div nz-form-item nz-row *ngIf="isDispose==2">
            <div nz-form-control [nzOffset]='3'  nz-col [nzSm]="6" [nzXs]="24" >
                <nz-select  formControlName="newUserId" [(ngModel)]="newUserId" nzAllowClear [nzSize]="'large'">
                        <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                        <nz-option 
                    *ngFor="let item of samePostUserList" 
                    [nzLabel]="item.userName"
                    [nzValue]="item.userId"
                    ></nz-option>
                </nz-select>
            </div>
        </div>

        <div nz-form-item nz-row [ngClass]="{hide: isDispose != 3 }">
            <div nz-form-control [nzOffset]='3'  nz-col [nzSm]="21" [nzXs]="24">
            <nz-radio-group [(ngModel)]="isPass" formControlName='isPass'> 
                <label nz-radio [nzValue]="1" >
                    <span>通过</span>
                </label>
                <label nz-radio [nzValue]="0" *ngIf="nullNotGo" >
                    <span>不通过</span>
                </label>
            </nz-radio-group>
            </div>
            <div *ngIf="isPass == 0">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSm]="24" [nzXs]="24">
                            <div nz-form-control  nz-col [nzOffset]='3' [nzSm]="6" [nzXs]="24">
                                    <nz-select 
                                        [nzPlaceHolder]="'开发'" 
                                        [nzMode]="'multiple'" 
                                        formControlName='strUserId' 
                                        [(ngModel)]="strUserId" 
                                        [nzSize]="size"
                                    >
                                      <nz-option
                                        *ngFor="let option of strUserList"
                                        [nzLabel]="option.userName"
                                        [nzValue]="option.userId"
                                        >
                                      </nz-option>
                                    </nz-select>
                                </div>
                    </div>
                </div>    
            </div>

            <div nz-form-item>
                <div nz-form-label nz-col [nzSm]="3" [nzXs]="24">
                    <label for="附件">附件</label>
                </div>
                <div nz-form-control  nz-col [nzSm]="21" [nzXs]="24">
                    <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                </div>
            </div> 
        </div>

        <div nz-form-item>
            <div nz-form-label nz-col [nzOffset]='3'></div>
            <button [disabled]="!validateForm.valid"  nz-button [nzType]="'primary'" (click)="save($event)" [nzSize]="'large'" [nzLoading]="isLoading">
                <i class="anticon anticon-save"></i>
                <span>确定</span>
            </button>
        </div>
      
    </form>

  </nz-tab>
</nz-tabset>