<form nz-form class="search-header ant-advanced-search-form">
  <!-- 查询标题 -->
  <div nz-form-item nz-row>
      <div nz-col [nzSm]="24" [nzXs]="24" class="context-title">
          <label>查询</label>
      </div>
  </div>

  <!-- 查询内容 -->
  <div class="search-context">
    <div nz-row [nzGutter]="40">
        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>任务单类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select [(ngModel)]="taskType" name='taskType' (nzOpenChange)='changeOption($event)'>
                  <nz-option 
                  *ngFor="let item of taskTypeList" 
                  [nzLabel]="item.label"
                  [nzValue]="item.value"
                  ></nz-option>
              </nz-select>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>搜索范围</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="9">
              <nz-datepicker [nzDisabled]="isDisabled"  (ngModelChange)="changeCascader()" name='startTime' [(ngModel)]="startTime"  [nzShowTime]="true" [nzPlaceHolder]="'开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
            </div>
            <div nz-form-control nz-col [nzSpan]="1"></div>
            <div nz-form-control nz-col [nzSpan]="9">
              <nz-datepicker [nzDisabled]="isDisabled" (ngModelChange)="changeCascader()"   name='finishTime' [(ngModel)]="finishTime" [nzShowTime]="true" [nzPlaceHolder]="'结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
                <nz-select name="taskStatus" 
                  [(ngModel)]="taskStatus" 
                  [nzDisabled]="isDisabled"
                  (nzOpenChange)='searchTask($event)'
                >
                    <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                    <nz-option 
                    *ngFor="let item of taskStateList" 
                    [nzLabel]="item.label"
                    [nzValue]="item.value"
                    ></nz-option>
                </nz-select>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>产品</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
                <nz-select name="productId" 
                  [(ngModel)]="productId" 
                  [nzDisabled]="isDisabled"
                  (nzOpenChange)='searchTask($event)'
                >
                    <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                    <nz-option 
                    *ngFor="let item of productList" 
                    [nzLabel]="item.name"
                    [nzValue]="item.id"
                    ></nz-option>
                </nz-select>
            </div>
          </div>
        </div>

        <!-- 分割 -->
        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>项目</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
                <nz-select name="projectId" 
                  [(ngModel)]="projectId" 
                  [nzDisabled]="isDisabled"
                  (nzOpenChange)='searchTask($event)'
                >
                    <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                    <nz-option 
                    *ngFor="let item of projectList" 
                    [nzLabel]="item.name"
                    [nzValue]="item.id"
                    ></nz-option>
                </nz-select>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>版本</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
                <nz-select name="versionId" 
                  [(ngModel)]="versionId" 
                  [nzDisabled]="isDisabled"
                  (nzOpenChange)='searchTask($event)'
                >
                    <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                    <nz-option 
                    *ngFor="let item of versionList" 
                    [nzLabel]="item.name"
                    [nzValue]="item.id"
                    ></nz-option>
                </nz-select>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>类型</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
                <nz-select name="type" 
                  [(ngModel)]="type" 
                  [nzDisabled]="isDisabled"
                  (nzOpenChange)='searchTask($event)'
                >
                    <nz-option [nzLabel]="'请选择'" [nzValue]="''"></nz-option>  
                    <nz-option 
                    *ngFor="let item of typeList" 
                    [nzLabel]="item.label"
                    [nzValue]="item.value"
                    ></nz-option>
                </nz-select>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="6">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label>任务关联人</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-cascader
                [nzPlaceHolder]="'请选择'"
                [nzDisabled]="isDisabled"
                name='taskUserId' 
                [(ngModel)]='taskUserId'
                [nzOptions]="_options"
                (nzChange)='changeCascader()'
              >
              </nz-cascader>
            </div>
          </div>
        </div>

    </div>
  </div>

  <!-- 查询按钮 -->
  <!-- <div nz-row>
    <div nz-col [nzSpan]="24" style="text-align: right; padding:10px 20px">
      <button nz-button [nzType]="'primary'" [nzLoading]="isSearch" (click)="searchTask($event)">
        <i class="anticon anticon-search"></i>
        <span>查询</span>
      </button>
    </div>
  </div> -->

</form>
  
<div class="search-result-list">
    <div nz-form-item nz-row>
        <div nz-col [nzSm]="24" [nzXs]="24" class="context-title">
            <label>任务单列表</label>
        </div>
    </div>
    <div class="table">
        <!-- [nzPageSize]="10" -->
        <!-- [nzBordered]="true" -->
      <nz-table #nzTable 
      [nzDataSource]="_data" 
      >
          <thead nz-thead>
            <tr>
              <th nz-th><span>标题</span></th>
              <th nz-th [nzWidth]="'15%'"><span>描述</span></th>
              <th nz-th><span>类型</span></th>
              <th nz-th><span>人物状态</span></th>
              <th nz-th><span>当前状态</span></th>
              <th nz-th><span>工作量</span></th>
              <th nz-th><span>联调时间</span></th>
              <th nz-th><span>提测时间</span></th>
              <th nz-th><span>测试完成时间</span></th>
              <th nz-th><span>验收完成时间</span></th>
              <th nz-th><span>创建用户</span></th>
              <th nz-th><span>创建日期</span></th>
              <th nz-th><span>编辑</span></th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td><a (click)="skipProcessFlow(data)">{{data.title}}</a></td>
              <td nz-td>{{data.description}}</td>
              <td nz-td>{{data.type}}</td>
              <td nz-td>
                <span *ngFor="let item of data.taskUserList">
                  {{item.userName}} &nbsp; &nbsp; <span [ngClass]="{pass: item.statusId == 0}">{{item.status}}</span><br/>
                </span>
              </td>
              <td nz-td>{{data.todoStatusStr}}<span *ngIf="data.isPostpone" class="overDue">超期</span></td>
              <td nz-td>{{data.workLoad}}天</td>
              <td nz-td>{{data.devFinish | date:'y-MM-dd HH:mm:ss'}}</td>
              <td nz-td>{{data.testStart | date:'y-MM-dd HH:mm:ss'}}</td>
              <td nz-td>{{data.testFinish | date:'y-MM-dd HH:mm:ss'}}</td>
              <td nz-td>{{data.acceptFinish | date:'y-MM-dd HH:mm:ss'}}</td>
              <td nz-td>{{data.createUserName}}</td>
              <td nz-td>{{data.createData | date:'y-MM-dd HH:mm:ss' }}</td>
              <td nz-td>
                  <button *ngIf="data.isBtn" [disabled]="data.editDisabled" nz-button [nzType]="'default'" (click)='skipTaskFlow(data)'>
                      <span>操作</span>
                  </button>
                  <button *ngIf="data.isEdit" [disabled]="data.editDisabled" nz-button [nzType]="'default'" (click)='extension(data)'>
                    <span>编辑</span>
                </button>
              </td>
            </tr>
        </tbody>
      </nz-table>
    </div>
    
</div>

<!-- <button nz-button [nzType]="'info'" (click)="error()">
    <span>失败提示</span>
</button> -->