<div class="bodyer container">
  <h2 class="header-word text-center">欢迎使用 云问 任务跟踪系统</h2>
  <form nz-form [formGroup]="validateForm" class="login-form">
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.userName">
        <nz-input formControlName="userName" [(ngModel)]="userName" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-user"></i>
          </ng-template>
        </nz-input>
      </div>
    </div>
    <div nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.password">
        <nz-input formControlName="password" [(ngModel)]="passWord" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
          <ng-template #prefix>
            <i class="anticon anticon-lock"></i>
          </ng-template>
        </nz-input>
      </div>
    </div>
    
    <div nz-form-item>
      <div nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" (click)="login()" [nzLoading]="isLoading">
            <i class="anticon anticon-login"></i>
            <span>登陆</span>
        </button>
      </div>
    </div>

  </form>
</div>