<nav class="header navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
      <span class="glyphicon glyphicon-cloud tasklogo"></span>
  </div>
  <div>
      <ul class="nav navbar-nav">
          <li routerLink='/task/workOrder' routerLinkActive="active"><a>我的任务</a></li>
          <li routerLink='/task/addTask' routerLinkActive="active"><a>新建任务</a></li>
          <li routerLink='/task/addTaskFlow' routerLinkActive="active"><a>新建任务流程</a></li>
          
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="userStyle"><a>中午好 谁谁谁</a></li>
        <li routerLink='/login'><a>切换账号</a></li>
      </ul>
  </div>
  </div>
</nav>
<div  class="content">
    <router-outlet></router-outlet>
</div>
