/* You can add global styles to this file, and also import other style files */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import '../node_modules/froala-editor/css/froala_style.min.css';
@import '../node_modules/froala-editor/css/froala_editor.pkgd.min.css';
@import '~froala-editor/css/froala_style.min.css';

body{
    font-size:14px !important;
    background: #fafbfc !important;
    height:0px !important;
}
.content-header{
    background-color: #f6f8f8;
    padding:5px 10px;
    h3{
        margin-top: 10px; 
        color: #58666e;
    }
}

/* Tree select css */
.selected-item-item{
    font-size: 12px !important;
}
.btn-default{
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #d9d9d9;   
    border-radius: 4px;
    transition: all .3s;
}
.btn{
    padding: 2px 10px;  
}
.close{
    padding-top: 1px !important;
}

.ant-tabs-tabpane{
    margin-bottom: 50px;
}

// 列表查询区域
.ant-advanced-search-form {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #e9e9e9;
  }
.context-title{
    padding: 10px 0px;
    background: #edf1f2;
    text-indent: 15px;
}
.search-result-list {
    margin-top: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    // background-color: #fafafa;
    min-height: 200px;
    text-align: left;
    padding-top: 25px;
    .table{
        padding: 0px 20px;
    }
}



