.rowFlow{
    margin-bottom: 20px;
    .guideColor{
        background:#108ee9;
    }
    .borderColor{
        border-color:#108ee9;
    }
    .flowChart{
        height:50px;
        .disabledFlow{
            color: rgba(0, 0, 0, 0.25);
            background-color: #f7f7f7;
            border-color: #d9d9d9;
        }
        .styleClass{
            background: #38d143;
            border-color: #38d143;
            
        }
        .ant-btn-primary:hover{
            background: #38d143 !important;
            border-color: #38d143 !important; 
        }
    }
    .guide{
        position: relative;
        width: 120px;
        float: left;
        height: 3px;
        margin: 15px;
        .arrows{
            border: 6px solid transparent;
            border-left: 7px solid #108ee9;
            width: 0;
            height: 0;
            position: absolute;
            right: -13px;
            top: -5px;
        }
        .guideTime{
            position: absolute;
            left:13px;
            top:8px;
        }
    }
    
}
.search-result-list{
    padding-top:0px;
}


.data-title{
    font-size:14px;
}

// .productClass{
//     color:#D1D103;
// }


.developClass{
    color: #0099CC;
}

// .testClass{
//     color: #CC99CC;
// }
    